@import 'Headers.scss';

.events-container {
  min-height: 40%;
  width: calc(100% - 40px);
  padding: 20px;
  text-align: center;
}

.events {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}

.events > .event {
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 10px;
    outline: 1px solid black;
}
