// TODO: change to full-width cards instead of half-width
// i.e.:
// Event 1
// Event 2
// ...
// Event n,
//
// instead of
// Event 1  Event 2
// Event 3  Event 4

@import 'Headers.scss';

.event-large {
    display: inline-block;
    float: left;
    max-width: 900px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
}

.event-large > div {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}


.event-large-header > div {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    text-align: left;
}

.event-large-header h3, .event-large-header p {
    margin: 0px;
}

.event-large-body > div, .event-large-body > img {
    display: block;
    float: left;
}

.event-large-body img {
    border: 10px solid $dark-color;
    max-width: calc(450px - 20px - 20px);
    width: calc(100% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.event-large-description {
    padding: 0;
    width: 100%;
    max-width: calc(450px - 20px);
}

.event-large-description p {
    display: block;
    text-align: justify;
    margin-top: 0;
}
