@import 'Headers.scss';

.homepage {
  background-color: $transparent;
}

#container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective: 1px;
  perspective: 1px;
  perspective-origin: calc(50% - 7.5px) 50%; // account for the scrollbar
  background-color: $transparent;
}

#root {
  background-color: $transparent;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-front {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax-background {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

#background {
  width: 100%;
  height: 250%;
  background-image: url("/images/lib2.jpg");
  background-size: cover;
}

.divider {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 40%;
  background-color: transparent;
  box-shadow: inset 0px 6px 10px -6px grey, inset 0 -6px 10px -6px grey;
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55%;
  width: 100%;
  font-size: 200%;
  background-color: $light-color;
  color: $dark-color;
}

.paragraph > div {
  padding: 40px;
}

.paragraph > div > p {
  line-height: 1.5em;
}
