@import 'Headers.scss';
@import 'HomepageTitle.scss';
@import 'Homepage.scss';

html, body {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 100% $font-stack;
}

.clickable {
    cursor: pointer;
}

.ui.container {
  padding: 15px;
}
